<%= notice %>
<p>
  <strong>Status: </strong><%= @status.status %>
</p>
<p>
  <strong>User: </strong><%= @status.user %>
</p>
<p>
  <strong>Likes: </strong><%= @status.likes %>
</p>
<%= link_to "Edit", edit_status_path %> | <%= link_to "Index", root_path %>
